.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

* {
    background-color: whitesmoke;
}